{% extends "page.html" %}

{% block breadcrumb_content %}
    {{ super() }}
  <li><a href="{{ h.url_for('feature_form') }}">Feature</a></li>
{% endblock %}

{% block primary_content %}
  <article class="module">
    <div class="module-content">
      <h1 class="page-heading">Feature Request</h1>
        {% block features_form_content %}
            {% include "features/snippets/form.html" %}
        {% endblock %}
    </div>
  </article>
{% endblock %}

{% block secondary_content %}
<div class="module module-narrow module-shallow">
  <h2 class="module-heading">
    <i class="icon-info-sign"></i>
    {{ _('Feature  Request') }}
  </h2>
  <div class="module-content">
    <p>
      Features?  We are always glad to hear from you!
    </p>
  </div>
</div>
{% endblock %}
