{% if pkg_dict.domain %}
     <h3> {{ _("Domain") }}</h3>
     {% set list1 = pkg_dict.domain.split(',') %}
     {% set _class = _class or 'tag-list well' %}
      {% block tag_list %}
        <ul class="{{ _class }}">
          {% for list in list1 %}
            <li>
            <a class="tag" href="{% url_for controller='package', action='search', domain=list %}">{{ h.truncate(list, 22) }}</a>
            </li>
          {% endfor %}
        </ul>
      {% endblock %}
{% endif %}

{% if pkg_dict.phase %}
     <h3>{{ _("Phase") }}</h3>
     {% set list_phase = pkg_dict.phase.split(',') %}
     {% set _class = _class or 'tag-list well' %}
      {% block phase_list %} 
       <ul class="{{ _class }}">
       {% for phase_name in list_phase %}
         <li>
            <a class="tag" href="{% url_for controller='package', action='search', phase=phase_name %}">{{ h.truncate(phase_name, 22) }}</a>
            </li>
       {% endfor %}
       </ul>
      {% endblock %}     
{% endif %}

{% if pkg_dict.key_entities %}
     <h3>{{ _("Key Entities") }}</h3>
     {% set list3 = pkg_dict.key_entities.split(',') %}
     {% set _class = _class or 'tag-list well' %}
      {% block key_list %} 
       <ul class="{{ _class }}">
       {% for key_name in list3 %}
         <li>
            <a class="tag" href="{% url_for controller='package', action='search', key_entities=key_name %}">{{ h.truncate(key_name, 22) }}</a>
            </li>
       {% endfor %}
       </ul>
      {% endblock %}     
{% endif %}

{% if pkg_dict.frontend_app %}
     <h3>{{ _("Frontend Apps") }}</h3>
     {% set list2 = pkg_dict.frontend_app.split(',') %}
     {% set _class = _class or 'tag-list well' %}
      {% block front_list %} 
       <ul class="{{ _class }}">
       {% for list_name in list2 %}
        <li>
          <a class="tag" href="{% url_for controller='package', action='search', frontend_app=list_name %}">{{ h.truncate(list_name, 22) }}</a>
        </li>
       {% endfor %}
       </ul>
      {% endblock %}     
{% endif %}



<section class="additional-info">
  <h3>{{ _('Additional Info') }}</h3>
  <table class="table table-striped table-bordered table-condensed">
    <thead>
      <tr>
        <th scope="col">{{ _('Field') }}</th>
        <th scope="col">{{ _('Value') }}</th>
      </tr>
    </thead>
    <tbody>
      {% block package_additional_info %}
        {% if pkg_dict.url %}
          <tr>
            <th scope="row" class="dataset-label">{{ _('Source') }}</th>
            {% if h.is_url(pkg_dict.url) %}
              <td class="dataset-details" property="foaf:homepage">{{ h.link_to(pkg_dict.url, pkg_dict.url, rel='foaf:homepage', target='_blank') }}</td>
            {% else %}
              <td class="dataset-details" property="foaf:homepage">{{ pkg_dict.url }}</td>
            {% endif %}
          </tr>
        {% endif %}

        {% if h.check_access('package_update',{'id':pkg_dict.id}) %}
          <tr>
            <th scope="row" class="dataset-label">{{ _("State") }}</th>
            <td class="dataset-details">{{ _(pkg_dict.state) }}</td>
          </tr>
        {% endif %}
        

      {% block extras scoped %}
        {% for extra in h.sorted_extras(pkg_dict.extras) %}
          {% set key, value = extra %}
          <tr rel="dc:relation" resource="_:extra{{ i }}">
            <th scope="row" class="dataset-label" property="rdfs:label">{{ _(key) }}</th>
            <td class="dataset-details" property="rdf:value">{{ value }}</td>
          </tr>
        {% endfor %}
      {% endblock %}

      {% endblock %}
    </tbody>
  </table>
</section>

<script type="text/javascript">
    var disqus_shortname = 'idatamap';
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
<div> {{h.disqus_recent()}} </div>
